<div class="menu">
  <div class="menu-header">
    <div class="menu-header-text">Menu</div>
    <img loading="lazy" src="../../../assets/ham.PNG" class="img" />
  </div>
  <div class="search">
    <div class="search-image">
      <img loading="lazy" src="../../../assets/searchicon.PNG" class="img-2" />
      <div class="search-text">Search</div>
    </div>
    <div class="tasks">Tasks</div>
    <div class="all" routerLink="/all-tasks">All</div>
   <div class="upcoming" (click)="getData()">Upcoming</div>
  <div class="pending" >Pending</div>
    <div class="signout">
      <img loading="lazy" src="../../../assets/signouticon.PNG" class="img-3" />
      <div class="signout-text" routerLink="/Home">Sign Out</div>
    </div>
  </div>
</div>
