<div class="container">
  <div *ngFor="let task of taskTitles" class="task-container">
    <input
      class="task-title"
      type="text"
      placeholder="Enter Title"
      [value]="task.title"
    />
    <div class="label">
      <div class="task-details">
        <label class="checkbox-container">
          <input
            type="checkbox"
            class="task-checkbox"
            (change)="onDelete(task.taskId)"
          />
          <span class="checkmark"></span>
        </label>
        <div class="task-description">Mark as complete</div>
      </div>
      <div class="edit-icon" (click)="redirectToTaskDetails(task.taskId)">
        <i class="fa fa-pencil"></i>
      </div>
    </div>
  </div>
  <div class="card">
    <app-add-task></app-add-task>
  </div>
</div>
